DATABASE_URL="postgresql://postgres:postgres@localhost:5432/seblak_pos?schema=public"
PORT=3001
FRONTEND_URL="http://localhost:3000"
JWT_ACCESS_SECRET="replace-with-at-least-32-random-characters"
JWT_REFRESH_SECRET="replace-with-another-32-random-characters"
SEED_OWNER_EMAIL="owner@seblak.local"
SEED_OWNER_PASSWORD="ChangeMe123!"
